@{
    ViewData["Title"] = "Index";
}
<style>
    * {
        color: whitesmoke;
    }

    .navbar {
        z-index: 100;
    }

    .btn {
        z-index: 1;
    }

    p {
        margin-bottom: 0px;
    }

    .color {
        background-color: whitesmoke;
    }

    a {
        text-decoration: none;
        color: #ffffbb;
    }

        a:hover {
            color: #ffff91;
        }

    input {
        color: black;
    }

    form p {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        form p * {
            margin: 0 5px;
        }

    .container {
        color: #6c757d !important;
        display: flex;
    }

    .text-center {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 140px;
    }

    option {
        color: black;
    }

    .btn {
        margin: 5px 0;
        color: black;
        border: none;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    .el
    {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
    .form-control{
        width: 350px;
        text-align: center;
    }
    h5{
    margin: 0;
    }
</style>

<body class="bg-dark">
    <div class="text-center">
        <h3>Прості запити</h3>
        <div class="el">
    <h5 style="margin-right: 20px;">Знайти усі платівки замовлені користувачем</h5>
    @using (Html.BeginForm("QueryA1", "Queries", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
            <select class="form-control" id="readerId" name="readerId">
                @foreach (var reader in @ViewBag.Readers)
                {
                    <option value="@reader.ID">@reader.Name</option>
                }
            </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>
        </div>
    }
</div>

        <div class="el">
    <h5 style="margin-right: 20px;">Знайти користувачів, які замовили платівку жанру</h5>
    @using (Html.BeginForm("QueryA2", "Queries", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
            <select class="form-control" id="genreId" name="genreId">
                @if (ViewBag.Genres != null)
                {
                    foreach (var genre in ViewBag.Genres)
                    {
                        <option value="@genre.ID">@genre.Name</option>
                    }
                }
            </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>
        </div>
    }
</div>

        <div class="el">
    <h5 style="margin-right: 20px;">Знайти усі платівки, що вийшли після</h5>
    @using (Html.BeginForm("QueryA3", "Queries", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
            <input type="int" class="form-control" id="publishingYear" name="publishingYear" required>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>
        </div>
    }
</div>

        <div class="el">
    <h5 style="margin-right: 20px;">Знайти усіх користувачів, які замовили платівку</h5>
    @using (Html.BeginForm("QueryA4", "Queries", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
            <select class="form-control" id="bookId" name="bookId">
                @foreach (var book in @ViewBag.Books)
                {
                    <option value="@book.ID">@book.Title</option>
                }
            </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>
        </div>
    }
</div>

        <div class="el">
    <h5 style="margin-right:20px;">Знайти платівки авторства</h5>
    @using (Html.BeginForm("QueryA5", "Queries", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
            <select class="form-control" id="authorId" name="authorId">
                @foreach (var author in @ViewBag.Authors)
                {
                    <option value="@author.ID">@author.Name</option>
                }
            </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>
        </div>
    }
</div>
<br />

        <h3>Складні запити</h3>
        <div class="el">
            <h5 style="margin-right: 10px;">Знайти усіх авторів, що створили платівки тих же жанрів, що і автор</h5>
            @using (Html.BeginForm("QueryB1", "Queries", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
                    <select class="form-control" id="authorId" name="authorId">
                        @foreach (var author in @ViewBag.Authors)
                        {
                            <option value="@author.ID">@author.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>

                </div>
            }
        </div>

        <div class="el">
            <h5 style="margin-right: 10px;">
                Знайти жанри, в яких є усі платівки від авторів, що мають платівку
                у заданому жанрі
            </h5>
            @using (Html.BeginForm("QueryB2", "Queries", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
                    <select class="form-control" id="genreId" name="genreId">
                        @if (ViewBag.Genres != null)
                        {
                            @foreach (var genre in @ViewBag.Genres)
                            {
                                <option value="@genre.ID">@genre.Name</option>
                            }
                        }
                    </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>

                </div>
            }
        </div>

        <div class="el">
            <h5 style="margin-right: 10px;">Знайти усіх користувачів, які замовили платівки замовлені користувачем і ще щось</h5>
            @using (Html.BeginForm("QueryB3", "Queries", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="form-group" style="margin-right: 10px; display: flex; flex-wrap: nowrap; align-items: center;">
                    <select class="form-control" id="readerId" name="readerId">
                        @foreach (var reader in @ViewBag.Readers)
                        {
                            <option value="@reader.ID">@reader.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>

                </div>
            }
        </div>

        <div class="el">
            <h5 style="margin-right: 10px;">Знайти користувачів, які замовили тільки платівки замовлені користувачем і не всі</h5>
            @using (Html.BeginForm("QueryB4", "Queries", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
                    <select class="form-control" id="readerId" name="readerId">
                        @foreach (var reader in @ViewBag.Readers)
                        {
                            <option value="@reader.ID">@reader.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-default color"><img style="scale: 90%;" src="../css/search.png" alt="Alternate Text" /></button>

                </div>
            }
        </div>
    </div>
</body>