@model PaginatedList<Domain.Entities.Book>

@{
    ViewData["Title"] = "Query7";
}
<style>
    * {
        color: whitesmoke;
    }

    .navbar {
        z-index: 2;
    }

    .btn {
        z-index: 1;
    }

    p {
        margin-bottom: 14px;
    }

    .color {
        background-color: whitesmoke;
    }

    a {
        text-decoration: none;
        color: #ffffbb;
    }

        a:hover {
            color: #ffff91;
        }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        width: 40px;
        height: 40px;
    }

    input {
        color: black;
    }

    form p {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        form p * {
            margin: 0 5px;
        }
</style>

<body class="bg-dark">
    <h1>Запит 7</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Назва
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Лейбл
                </th>
                <th>
                    Лейбл
                </th>
                <th>
                    Рік
                </th>
                <th>
                    Жанр
                </th>
                <th>
                    Жанр
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublisherId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishingYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="buttons">
        <a asp-action="Query7"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default color @prevDisabled">
            <img style="scale: 80%; transform: rotateZ(180deg);" src="../css/right-arrow.png" alt="arrow" />
        </a>
        <a asp-action="Query7"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default color @nextDisabled">
            <img style="scale: 80%;" src="../css/right-arrow.png" alt="arrow" />
        </a>
    </div>
</body>